@using WebApp.Helpers;
<script src="~/Scripts/Views/vRegistrarAdmin.js"></script>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card border-primary" style="margin-top: 50px;">
    <div class="card-header">
        <div class="row pull-right">
            <div class="col-md-2">Registro de Administrador</div>
            <div class="col-md-3">
                @Html.CtrlButton(viewName: "vUsuarios", id: "btnCreate", label: "Create", onClickFunction: "Create", buttonType: "success")                
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="bs-component">
                    <form id="frmRegistro">
                        @Html.CtrlInput(id: "txtCedula", type: "text", label: "Cedula", columnDataName: "cedula")
                        @Html.CtrlInput(id: "txtName", type: "text", label: "Nombre", columnDataName: "nombre")
                        @Html.CtrlInput(id: "txtApellido1", type: "text", label: "Primer apellido", columnDataName: "apellido1")
                        @Html.CtrlInput(id: "txtApellido2", type: "text", label: "Segundo apellido", columnDataName: "apellido2")
                        

                    </form>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <div class="bs-component">
                    <form id="frmRegistro">
                        @Html.CtrlInput(id: "txtTelefono", type: "number", label: "Telefono", columnDataName: "telefono")
                        @Html.CtrlInput(id: "txtDOB", type: "date", label: "Fecha de Nacimiento", columnDataName: "dob")
                        @Html.CtrlInput(id: "txtEmail", type: "text", label: "E-mail", columnDataName: "correoUsuario")
                        @Html.CtrlInput(id: "txtPass", type: "pass", label: "Password", columnDataName: "contrasena")
                    </form>
                </div>
            </div>
        </div>
      
    </div>
</div>


